<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Item</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Item">Item</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <% if(item.length === 0) { %>
              <div class="form-group text-center m-4">
                <h2>Not Found</h2>
                <a href="/item/search">Cari Lagi</a>
              </div>
              <!--  -->
              <% } else { %>
                <div class="card-header">
                  <h3 class="card-title">Form tambah Item</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/item/history/<%= item[0]._id %>?_method=PUT" method="POST">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="kodeBarang">Kode Barang</label>
                        <input type="text" name="kodeBarang" class="form-control" id="kodeBarang" value="<%= item[0].kodeBarang %>" readonly="readonly">
                      </div>
                      <div class="form-group">
                        <label for="name">Nama Barang</label>
                        <input type="text" name="name" class="form-control" id="name" value="<%= item[0].name %>" readonly="readonly">
                      </div>
                      <div class="form-group">
                        <label for="rak">Rak</label>
                        <input type="text" name="rak" class="form-control" id="rak" value="<%= item[0].rak.name %>" readonly="readonly">
                      </div>
                      <div class="form-group">
                        <label for="rak">Tipe Barang</label>
                        <input type="text" name="tipeBarang" class="form-control" id="tipeBarang" value="<%= item[0].tipeBarang %>" readonly="readonly">
                      </div>
                      <div class="form-group">
                        <label for="namaPengambil">Nama Pengambil</label>
                        <input type="text" name="namaPengambil" class="form-control" id="namaPengambil">
                      </div>
                      <div class="form-group">
                        <label for="quantity">Quantity Yang Diambil</label>
                        <input type="number" name="quantityDiambil" class="form-control" id="quantityDiambil">
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                  </form>
              <% } %>
              <!--  -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>